body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 15px;
}

textarea {
  background: transparent;
  border: none;
  color: #000000;
  border-left: 1px solid black;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.heading-text {
  font-size: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.row2 {
  height: 80px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #37aac4;
  color: white;
  font-size: 1em;
  height: 40px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.whiteBorder {
  border-top: 1px solid white;
}

.tb-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
